@import url('./assets/css/_core.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

input[type=text], input[type=email], input[type=password], textarea {
  text-indent: 0.8rem;
  color: var(--labels-color);
}

textarea {
  resize: none;
}

.auth-form-container {
  @apply mx-auto shadow-lg relative bg-menu-bg w-4/5 md:w-3/5 lg:w-2/5 2xl:w-1/5 py-12 rounded-xl;
}

.auth-form {
  @apply mx-auto w-2/3 h-full flex flex-col justify-center;
}

.auth-form > *:not(:first-child) {
  @apply mt-4;
}

.auth-form-input {
  @apply  h-10 rounded-xl outline-accent-2 border-border-common border-2;
}

button:disabled, input:disabled {
  opacity: 0.7;
  cursor:default;
}

.accent-btn {
  @apply text-white bg-accent-2 py-1 px-4 rounded-lg mx-1 shadow-card text-white bg-accent-2 py-1 px-4 rounded-lg mx-1 shadow-card;
}

.item-form-input {
  @apply  h-16 border-2 border-disabled outline-none focus:border-accent-2 rounded-xl text-lg;
}

.item-form-textarea {
  @apply  h-40 border-2 border-disabled outline-none focus:border-accent-2 rounded-xl text-lg;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-accent-ring div {
  border: 3px solid var(--accent-color-2);
  border-radius: 50%;
  border-color: var(--accent-color-2) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.card-skeleton {
  background: linear-gradient(-45deg, #dfdfdf, #d9d9d9, #b9b9b9, #ababab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}